:root {
    --text-color: rgb(232, 207, 255);
    --intro-txt-color: rgb(255, 240, 209);
}

body {
    /* background-color: rgb(197, 164, 235); */
    background-image: url("../images/quiz-bckgrnd.jpg");
    background-size: cover;
    background-position: center;
    color: var(--text-color);
}

header {
    display: flex;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
    text-align: center;
    background-color: rgb(80, 43, 115);
    /* Optional: Add background color for visibility */
    /* background-color: rgb(57, 6, 105); Optional: Add background color for visibility */
    padding: 10px;
    /* Optional: Add padding for better spacing */
    color: var(--text-color);
}

header nav h3,
header nav h2 {
    margin: 0;
}

header nav .nav-coding {
    margin-right: 90px;
    /* Adjust this value as needed to create space */
    color: rgb(232, 207, 255);
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.quiz-home {
    margin-top: 70px;
    /* Adjust as needed */
}

.hide {
    display: none;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */

    margin-top: 9%;

    background-color: rgba(79, 41, 122, 0.3);
    /* Cool deep plum color with 80% opacity */
    padding: 20px;
    /* Add padding for spacing */
    border-radius: 15px;
    /* Add border radius for rounded corners */
    backdrop-filter: blur(10px);
    /* Apply backdrop filter for glassmorphism effect */


}


#intro h1 {
    font-size: 2em;
    /* Adjust the font size as needed */
}

#intro p {
    margin-top: 10px;
    /* Add space below the paragraph */
}

#intro>button {
    margin-top: 10px;
    /* Add space above the button */
}
#intro h1,
#intro p,
#intro button {
    /* Apply the custom property for text color */
    color: var(--intro-txt-color);
}

#start-quiz {
    background-color: rgba(71, 32, 188, 0.5); /* Deep plum color with transparency */
    color: #ffffff; /* Text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Padding for button */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

#start-quiz:hover {
    background-color: rgba(118, 66, 138, 0.8); /* Darker plum color on hover */
}
