header {
    display: flex;
    flex-wrap: wrap;
}

header nav {
    display: flex;
    justify-content: space-between;
    flex: 1 0 100%;
    text-align: center;
    background-color: blueviolet; /* Optional: Add background color for visibility */
    padding: 10px; /* Optional: Add padding for better spacing */
}

header nav h3, header nav h2 {
    margin: 0;
}

header nav .nav-coding {
    margin-right: 70px; /* Adjust this value as needed to create space */
}

section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.quiz-home {
    margin-top: 70px; /* Adjust as needed */
}

.hide {
    display: none;
}
